@model List<Hospital.Data.BillingRecord>

<h1>Billing Records</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].AppointmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].BillingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Notes)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BillingRecordId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BillingRecordId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BillingRecordId">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
